<!-- INI TABS --> 
<div>
    <div class="bg-light">
        <p class="text-center h3 pt-4 px-4">
        CPA <%=cpa%>
        </p>
        <p class="text-center py-4">
            <b>Clique na aba abaixo para iniciar a avaliação:</b>
        </p>
    </div>
    <ul class="nav nav-tabs justify-content-center mt-2" id="abas">
        <%
            let questionario = cpaAgente.questionario;

            for(let avaliacao in questionario){
                
                let aspecto = questionario[avaliacao].aspecto;
                let aria = questionario[avaliacao].aria;
                let rota = questionario[avaliacao].avaliacao.rota;
                let avaliacaoIndividual = false;
                let args;

                if(questionario[avaliacao].avaliacao.individual){ 
                
                    avaliacaoIndividual = true; 
                    %>
            <li class="nav-item h5">
                <a class="nav-link" id="<%=aspecto.id%>-tab" data-toggle="tab" href="#<%=aspecto.id%>" role="tab" aria-controls="<%=aspecto.id%>" aria-selected="<%=aria.selected%>">
                    <%=aspecto.nome%>
                </a>
            </li>
            <%
                } else {

                    %>
                <li class="nav-item h5">
                    <a class="nav-link" id="<%=aspecto.id%>-tab" data-toggle="tab" href="#<%=aspecto.id%>" role="tab" aria-controls="<%=aspecto.id%>" aria-selected="<%=aria.selected%>" onclick=" avaliacao('<%=rota%>',`'<%=aspecto.nome%>'`,'avaliacao_<%=aspecto.id%>','<%=avaliacaoIndividual%>', <%=idRespondente%>);">
                        <%=aspecto.nome%>
                    </a>
                </li>
                <%
                }
            }    
        %>
    </ul>
</div> <!-- FIM TABS??? -->