<p>Contrato gerado com sucesso</p>
<p>Aluno(a): <%=aluno%> | Matrícula: <%=matricula%></p>
<p>Renovação para o <%=semestre%>º semestre de <%=ano%> | <b><%=unidade%></b></p>
<p><a href='/2020/1/<%=matricula%>.html' target="_blank">Ver contrato</a></p>
<button>Enviar contrato por e-mail para assinatura eletrônica</button>